[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "Bblog/themes/PaperMod"]
	path = Bblog/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
